/************************* DEFAULT MOBILE FIRST STYLES ***********************/
html {
	font-size: 16px;
	font-family: Georgia, Times New Roman, serif;
}

a {
	text-decoration: none;
	color: black;
}

li{
  list-style:none;
}
/*--------------------------------*/
/*----- Page Styles -----*/
/*----- Header Styles -----*/
body{
  margin: 0;
  /*background-color: #f4ede7*/;
}
body, #header{
  position: sticky;
  top: 0px;
}
#header{
  width: 100%;
  padding: 0.0125em;
  background-color: #dec3c3;
  
  
}
.product_logo{
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
	align-items: center;
}
#header-img{
  width: 70%;
  height: 100%;
  max-width: 20em;
  display: flex;
  justify-content: center;
	align-items: center;
	text-align: center;
  margin: auto;
}
/*----- Nav Styles -----*/
#nav-bar{
  font-weight: 400;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5em;
  background-color: #eee3e7;
  
}

#product_nav_bar_list{
  width: 93.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.product_nav_bar_list_item{
  padding-bottom: 0.3125em;
}

.nav-link{
  font-size: 1.75em;
  padding: 0.125em;
}
.nav-link:hover{
  border-radius: 0.25;
  background-color: #f0e4e4;
  color: Black;
	transition: background-color 1s;
  border-radius: 0.5em;
}
/*-----hero Styles -----*/
#hero_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2.25em;
}
#hero_header{
  font-size: 2.75em;
  word-wrap: break-word;
  margin: 0.5em;
  text-align: center
}
.form{
  padding: 0.5em;
}

#email{
  max-width: 17.1875em;
  width: 100%;
  margin: 0.5em;
  margin-bottom: 2em;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
}

#submit{
  max-width: 10em;
  width: 150%;
  margin: 1;
  border: 0;
  background-color: #dec3c3;
  border-radius: 0.5em;
  margin-bottom: 2em;
  box-shadow: 10px 5px 5px #cecbcb;
}
#submit:hover{
  background-color: #feb2a8;
  transition: background-color 1s;
}
.btn{
  padding: 0.5;
  font-size: 1.3em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

/*.product_page_wraper{
   background-color: #f4ede7;
}*/

/*-----features Styles -----*/

.grid{
  display: flex;
}

.desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  text-align: center;
  padding: 1em;
  background-color: #f1dae1;
  margin: auto;
  margin-top: 5%;
  border-radius: 40px;  
  box-shadow: 10px 5px 5px #cecbcb;
}

.features_header{
	font-size: 2.75em;
  margin-top: 1em
}

.features_paragraph{
	font-size: 1.75em;
}
.product_container{
  /*background-color: #f4ede7;*/
  border-radius: 0.5em;
}

/*--- how-it-works area Styles ---*/
.product_container{
  display: block;
}

.work-text{
  font-size: 2.7em;
  margin: 1.5em;
  text-align: center;
}

#how-it-works{
  display: flex;
  justify-content: center;
  padding: 3em;
  background-color: #f0e4e4;
  width: 80%;
  margin: auto;
  border-radius: 40px;
  box-shadow: 10px 5px 5px #cecbcb;
}

#video{
  max-width: 40em;
  width: 100%;
}
	/*--- pricing area Styles ---*/
#pricing{
  display: flex;
	justify-content: center;
	flex-direction: column;
}

#small, #medium, #large{
  display: flex;
  flex-direction: column;
  align-items: cneter;
  text-align: center;
  max-width: 18em;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
  
}

.level{
  background-color: #dec3c3;
  color: black;
  padding: 1.5em 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  border-top-right-radius: 40px 40px;
  border-top-left-radius: 40px 40px;
}

.pricing_header{
  font-size: 2.5em;
  margin-top: 1em;
}
.pricing_list{
  margin: auto 0;
  padding: 0;
}

.pricing_list_item{
  padding: 0.3125em 0;
  font-size: 1.25em;
}

.price_btn{
  margin: 1em;
  border: 0;
  color: black;
  background-color: #e3c9c9;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  box-shadow: 10px 5px 5px #cecbcb;
  margin-left: 20%;
  margin-right: 20%;
  
}

.price_btn:hover{
  color: balck;
  background-color: #f0e4e4;
  transition: background-color 1s;
}

#pricing{
  margin-top: 3.75em;
  flex-direction: row;
}
#small, #medium, #large{
  width: calc(100% / 3);
  margin: 1em;
  border: 1px solid #bbbbbb;
  border-radius: 40px;
  box-shadow: 10px 5px 5px #cecbcb;
}

/*-----footer Styles -----*/

.product_footer{
margin-top: 2em;
background-color: #e4bcbe;
padding: 1.3em;
width: 100%;
}

.product_footer_list{
  display: flex;
}
.product_footer_list_item{
  padding: 0 0.9em;
  font-size: 1em;
}
.instagram{
  padding-left: 0.70em;
  padding-right: 1em;
}